.container-fluid{
    background-color: coral;
    text-align: right;
    margin: auto;
    width:100%;
    padding: 1%;
    
}

h2{
    color: antiquewhite;
}

h6 {
color: antiquewhite;
}



#p1 {
    border-bottom: coral solid 1 em;
    text-align: center;
    width: 100%;
    top: 20%;
}

h5 {
    color: antiquewhite;
}

.col-md-12 {

    background-color:coral;
    padding: 20px;
    width: 100%;
    margin: auto;
}

.container-fluid-2 {
    background-color: rgb(173, 216, 98);
    width: 100%;
}

.card {
    background-color: coral;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 2%;
    margin-bottom: 50px;
}

.card-title{
    text-align: center;
}

.card-text {
    text-align: center;
    color: antiquewhite;
}

#p3 {
    
}